<div *ngIf="video" class="">
  <div class="row justify-content-center">  

    <div class="col-6">
      <img class="rounded mx-auto d-block img-thumbnail" src="{{video.imagen}}" >
    </div>
    <div class="col-4">    
      <div>
          <br><br>
          <p>Name:  {{video.name}}<p>
          <p>Artist:  {{video.artist}}</p>
          <p>Album:  {{video.album}}</p>
          <p> Year:  {{video.year}}</p>
          <p>Duration: {{video.time}}</p>
      </div>
    
    </div> 
          
    </div>
    
  </div>

