i {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

.volume-up {
  vertical-align: top;
}
 #mislider {
  transform: rotate(270deg) translate(100px, -35px);
 }