i {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

.volume-up {
  vertical-align: top;
}
 #mislider {

  transform: translate(0px, 0px);
  margin-bottom: 15px;
  
 }


 .example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  
  display: table-cell;
  max-width: 600px;
}
 

  .slider-row {
    
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: fit-content;
  }

  .icon-2x{
    transform: scale(2);
    margin-right:60px;
    margin-top:10px;
  }