    <div class="row">
      <div class="col-sm-12" id="ordenacion">
        <label for="orden">Sort by: </label>
        <select id="orden" [(ngModel)]="sortBy">
          <option value="name">Name</option>
          <option value="artist">Artist</option>
          <option value="album">Album</option>
          <option value="year">Year</option>

        </select>
        
    </div>
    
    
    
    

    <div class="row" >
        <div class="col-sm-12" style="float:none;margin:auto;">
            <app-song-detail [song]="selectedSong"></app-song-detail>
    
        </div>
    </div>
    
    
    <div class="row">
            <div *ngFor="let song of songs">
              <div class="d-grid gap-2">
                <button [class.selected]="song === selectedSong" type="button" class="list-group-item-dark list-group-item-action" (click)="onSelect(song)">
                  <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1" >{{song.name}}</h6>
                  <small >{{song.time}}</small>
                  </div>
                  <div>
                    <small>{{song.artist}}</small>
                  </div>
                </button>
              </div>
            </div>
      
        </div>
     


